body{
    margin: 0;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    height: 500px;
    border: 5px solid black;
    margin-top: 30px;
    border-radius: 2%;
}

.container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 5px solid black;
    margin-top: 50px;
    height: 100px;
    width: 400px;
}

.botones{
    display: flex;
    gap: 50px;
}
.piedra{
    background-image: url(img/piedra.png);
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 10%;
}
.papel{
    background-image: url(img/papel.png);
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 10%;
}
.tijera{
    background-image: url(img/tijera.png);
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 10%;
}

